.auth-page
  background: #fff

.auth-page__inner
  max-width: 1024px
  margin: 0 auto
  & h1
    margin: 40px 0

.auth
  max-width: 360px
  margin: 0 auto 40px

.auth__text
  font: $normal 16px $open-sans
  color: #000
  margin: 20px 0

.auth-form

.auth-form__item
  margin-bottom: 10px
  &.auth-form__item--btn
    margin-top: 30px
    text-align: right
  &.auth-form__item--error
    .form-input
      border-color: $color-red

.form-error__text
  font: $light 13px $open-sans
  color: $color-red

.auth-form__links
  display: flex
  justify-content: space-between
  margin-top: 10px


.pass-recovery__link
  font: $normal 13px $open-sans
  color: $color-blue
  margin-top: 10px
  text-decoration: underline
  &:hover
    text-decoration: none

@media (max-width: 1200px)
  .auth-page__inner
    padding: 0 15px