.news-page
  background: #fff

.news-page__inner
  max-width: 1024px
  margin: 0 auto
  & h1
    margin: 40px 0

.news-block

.news-block__header
  position: relative
  display: flex
  height: 400px
  margin-right: -45px
  margin-left: -45px
  flex-direction: column
  justify-content: flex-end
  align-items: flex-start
  text-align: left
  overflow: hidden
  z-index: 0

.news-header__img
  position: absolute
  width: 100%
  height: 100%
  top: 0
  right: 0
  bottom: 0
  left: 0
  object-fit: cover
  z-index: -2

.news-block__text
  position: absolute
  left: 70px
  bottom: 20px
  height: 140px
  display: flex
  flex-direction: column
  justify-content: center


.news-header__main-text
  font: italic $bold 36px/1 $open-sans
  color: #fff
  text-shadow: 0 1px 5px rgba(0, 0, 0, 0.5)

.news-header__sub-text
  font: $normal 36px/1 $open-sans
  color: #fff
  text-shadow: 0 1px 5px rgba(0, 0, 0, 0.5)

.news-block__info
  display: flex
  height: 60px
  align-items: center
  justify-content: space-between
  margin-bottom: 20px

.news-info__date
  font: italic $normal 15px $open-sans
  color: #a1a1a1

.news-info__statistic
  font: $normal 20px $open-sans
  color: #000
  text-align: right

.news-stat
  display: inline-flex
  justify-content: center
  align-items: center
  &:last-of-type
    margin-left: 25px

.news-stat__icon
  margin-right: 5px

.news-content
  margin-bottom: 40px
  & p
    font: $normal 17px $open-sans
    color: #000
    margin-bottom: 20px

.news-content__author
  font: italic $normal 15px $open-sans
  color: #a1a1a1

.news-comments

.news-comment__add
  position: relative
  display: flex
  margin-bottom: 25px

.comment-add__user
  text-align: center
  margin-right: 15px

.comment-user__avatar
  display: flex
  justify-content: center
  align-items: center
  font-size: 30px
  width: 55px
  height: 55px
  border: 2px solid $color-main
  border-radius: 50%
  margin-bottom: 5px
  & path
    fill: url(#user-grad)

.comment-user__name
  font: italic $normal 15px $open-sans
  color: #a1a1a1

.comment-add__input
  flex-basis: 430px
  margin-top: 10px
  margin-right: 15px

.comment__btn
  display: flex
  justify-content: center
  align-items: center
  font-size: 25px
  width: 55px
  height: 55px
  background: #000
  color: #fff
  border-radius: 50%

.news-comment__list

.news-comment__item
  display: flex
  align-items: flex-start
  width: 820px
  margin-bottom: 20px

.comment-item__avatar
  margin-right: 15px

.comment-item__content
  width: 100%

.comment-item__head
  display: flex
  align-items: center
  justify-content: space-between
  margin-bottom: 10px

.comment-item__name
  font: italic $normal 15px $open-sans
  color: #a1a1a1
  margin-right: 20px

.comment-item__date
  font: italic $normal 15px $open-sans
  color: #d4d4d4

.comment-item__control
  display: flex

.comment-upvote,
.comment-downvote
  display: flex
  align-items: center

.comment-upvote
  margin-right: 15px

.comment-upvote__icon
  cursor: pointer
  font-size: 20px
  color: $color-main
  margin-right: 5px
  margin-top: -7px
  &:hover
    color: darken($color-main, 20%)

.comment-downvote__icon
  cursor: pointer
  font-size: 20px
  color: #000
  margin-right: 5px
  margin-top: 7px
  &:hover
    color: lighten(#000, 20%)

.comment-upvote__count,
.comment-downvote__count
  font: italic $normal 15px $open-sans
  color: #a1a1a1

.comment-item__text
  & p
    font: $normal 16px $open-sans
    color: #000

.news-comment__show
  position: relative
  text-align: center
  width: 100%
  &:before,
  &:after
    content: ''
    position: absolute
    top: 50%
    width: calc(50% - 305px / 2)
    height: 1px
    background: #000
  &:before
    left: 0
  &:after
    right: 0

.comment-show__box
  display: inline-block
  cursor: pointer
  position: relative
  width: 305px
  height: 45px
  margin: 50px auto 50px
  background: #000
  color: #fff
  font: $semi-bold 20px $open-sans
  text-align: center
  line-height: 45px
  user-select: none

.more-news
  margin-bottom: 100px


.more-news__title
  font: $normal 20px $open-sans
  color: #000
  margin-bottom: 20px

.more-news__list
  display: flex
  flex-wrap: wrap
  justify-content: flex-start

.more-news__item
  position: relative
  display: flex
  width: 330px
  height: 155px
  padding-left: 30px
  margin-right: 17px
  margin-bottom: 17px
  flex-direction: column
  justify-content: center
  align-items: flex-start
  text-align: left
  overflow: hidden
  z-index: 3
  &:before
    content: ''
    display: block
    position: absolute
    top: 50%
    left: -7px
    width: 80px
    height: 85px
    transform: skewX(25deg) translateY(-50%)
    background: rgba(234,36,39,0.75)
    z-index: 2
  &:nth-child(3n+3)
    margin-right: 0
  &:after
    content: ''
    display: block
    position: absolute
    top: 0
    right: 0
    bottom: 0
    left: 0
    opacity: 0
    background: #000
    z-index: 1
    transition: opacity .15s ease
  &:hover:after
    opacity: 0.15
.more-news__link
  position: absolute
  top: 0
  right: 0
  bottom: 0
  left: 0
  z-index: 5

.news-item__img
  display: block
  position: absolute
  width: 100%
  height: 100%
  top: 0
  right: 0
  bottom: 0
  left: 0
  object-fit: cover
  z-index: -2

.news-item__main-text
  font: italic $bold 18px/1 $open-sans
  color: #fff
  text-shadow: 0 1px 5px rgba(0, 0, 0, 0.5)
  z-index: 3

.news-item__sub-text
  font: $normal 18px/1 $open-sans
  color: #fff
  text-shadow: 0 1px 5px rgba(0, 0, 0, 0.5)
  z-index: 3

.news-item__statistic
  position: absolute
  bottom: 15px
  right: 15px
  font: $light 15px $open-sans
  color: #fff
  opacity: 1
  text-shadow: 0 1px 5px rgba(0, 0, 0, 0.5)
  z-index: 3

.news-item__stat
  display: inline-flex
  justify-content: center
  align-items: center
  &:first-of-type
    margin-right: 25px

.news-item-stat__icon
  margin-right: 5px
  transform: scaleX(-1)

@media (max-width: 1200px)
  .news-page
    padding: 0 15px
  
  .news-block__header
    margin-left: 0
    margin-right: 0

  .more-news__item
    width: auto
    flex-basis: 32%
    margin-right: 2%
    margin-bottom: 2%

@media (max-width: 1024px)
  .news-page__inner h1
    margin: 20px 0
    
  .news-comment__item
    width: auto

  .more-news__item
    flex-basis: 49%
    &:nth-child(3n+3)
      margin-right: 2%
    &:nth-child(even)
      margin-right: 0

  .more-news
    margin-bottom: 45px

@media (max-width: 767px)
  .news-block__header
    height: 200px
  .news-header__main-text
    font-size: 25px

  .news-header__sub-text
    font-size: 25px

  .more-news__item
    flex-basis: 100%
    height: 200px
    margin-right: 0
    &:nth-child(3n+3)
      margin-right: 0