<template>
  <div class="landing">
    <div class="hero">
      <div class="hero__inner">
        <h1 class="hero__title">Онлайн
          <span class="text--red">авто аукцион</span>
        </h1>
        <div class="hero-forms">
          <div class="search-car">
            <h3 class="hero-form__title">Поиск транспортного средства</h3>
            <form class="search-car__form" action="">
              <div class="search-car__auctions">
                <label for="radio-1" class="radio__label">
                  <input id="radio-1" type="radio" name="auc" value="iaai">
                  <span class="radio__button"></span>
                  <span class="radio__text">IAAI</span>
                </label>
                <label for="radio-2" class="radio__label">
                  <input id="radio-2" type="radio" name="auc" value="copart">
                  <span class="radio__button"></span>
                  <span class="radio__text">COPART</span>
                </label>

                <!-- <label v-for="(auction, index) in auctions" :key="index" :for="auction.id" class="checkbox-label checkbox-label--auctions">
                  <input v-model="checked" :id="auction.id" :value="auction.id" type="checkbox" :checked="auction.checked">
                  <span class="checkbox"></span>
                  <span class="checkbox__text">{{ auction.name }}</span>
                </label> -->
                <!-- <a href="#" class="search-car__all">Все</a> -->
              </div>
              <div class="search-car__options">
                <select v-for="(select, index) in searchSelects" :key="index" v-model="select.selected" :class="[{'select--selected': select.selected},'select']">
                  <option class="option" disabled value="">{{ select.name }}</option>
                  <option class="option" v-for="(option, index) in select.items" :key="index">{{ option.name }}</option>
                </select>
                <a href="#" class="btn btn--red">Найти</a>
              </div>
            </form>
          </div>
          <div class="delivery-calc">
            <h3 class="hero-form__title">Калькулятор доставки</h3>
            <select v-for="(select, index) in calcSelects" :key="index" v-model="select.selected" :class="[{'select--selected': select.selected},'select']">
              <option class="option" disabled value="">{{ select.name }}</option>
              <option class="option" v-for="(option, index) in select.items" :key="index">{{ option.name }}</option>
            </select>
            <input type="text" class="input input--delivery" value="3000$" disabled>
            <a href="#" class="btn btn--red">Рассчитать</a>
          </div>
        </div>
      </div>
    </div>
    <div class="slider">
      <h2 class="slider__title">Авто в пути</h2>
      <div class="slider__inner">
        <swiper :options="swiperOption" ref="mySwiper">
          <!-- slides -->
          <swiper-slide>
            <a href="#" class="slide">
              <img src="https://source.unsplash.com/800x500/?dog" alt="" class="slide__img">
              <div class="slide__footer">
                <h4 class="slide__title">Lorem Ipsum</h4>
                <p class="slide__text">lorem</p>
              </div>
            </a>
          </swiper-slide>
          <swiper-slide>
            <a href="#" class="slide">
              <img src="https://source.unsplash.com/800x500/?cat" alt="" class="slide__img">
              <div class="slide__footer">
                <h4 class="slide__title">dsfklsfjlwekjflkjew lewkjrklew jrlkewjr lkjewlkrjewrwer</h4>
                <p class="slide__text">er;lwekr;l ew;lkr;lwek r;lk;wlekr;l wer;lkwe;lr</p>
              </div>
            </a>
          </swiper-slide>
          <swiper-slide>
            <a href="#" class="slide">
              <img src="https://source.unsplash.com/800x500/?plant" alt="" class="slide__img">
              <div class="slide__footer">
                <h4 class="slide__title">Lorem Ipsum</h4>
                <p class="slide__text">lorem</p>
              </div>
            </a>
          </swiper-slide>
          <swiper-slide>
            <a href="#" class="slide">
              <img src="https://source.unsplash.com/800x500/?forest" alt="" class="slide__img">
              <div class="slide__footer">
                <h4 class="slide__title">Lorem Ipsum</h4>
                <p class="slide__text">lorem</p>
              </div>
            </a>
          </swiper-slide>
          <swiper-slide>
            <a href="#" class="slide">
              <img src="https://source.unsplash.com/800x500/?girl" alt="" class="slide__img">
              <div class="slide__footer">
                <h4 class="slide__title">Lorem Ipsum</h4>
                <p class="slide__text">lorem</p>
              </div>
            </a>
          </swiper-slide>
          <swiper-slide>
            <a href="#" class="slide">
              <img src="https://source.unsplash.com/800x500/?brand" alt="" class="slide__img">
              <div class="slide__footer">
                <h4 class="slide__title">Lorem Ipsum</h4>
                <p class="slide__text">lorem</p>
              </div>
            </a>
          </swiper-slide>
          <swiper-slide>
            <a href="#" class="slide">
              <img src="https://source.unsplash.com/800x500/?avocado" alt="" class="slide__img">
              <div class="slide__footer">
                <h4 class="slide__title">Lorem Ipsum</h4>
                <p class="slide__text">lorem</p>
              </div>
            </a>
          </swiper-slide>
          <swiper-slide>
            <a href="#" class="slide">
              <img src="https://source.unsplash.com/800x500/?food" alt="" class="slide__img">
              <div class="slide__footer">
                <h4 class="slide__title">Lorem Ipsum</h4>
                <p class="slide__text">lorem</p>
              </div>
            </a>
          </swiper-slide>
        </swiper>
        <div class="swiper-pagination slider-pagination" slot="pagination"></div>
        <div class="slider-button-next" slot="button-next"></div>
        <div class="slider-button-prev" slot="button-prev"></div>
      </div>
    </div>
    <div class="slider">
      <h2 class="slider__title">Авто в пути</h2>
      <div class="slider__inner">
        <swiper :options="swiperOption" ref="mySwiper2">
          <!-- slides -->
          <swiper-slide>
            <a href="#" class="slide">
              <img src="https://source.unsplash.com/800x500/?dog" alt="" class="slide__img">
              <div class="slide__footer">
                <h4 class="slide__title">Lorem Ipsum</h4>
                <p class="slide__text">lorem</p>
              </div>
            </a>
          </swiper-slide>
          <swiper-slide>
            <a href="#" class="slide">
              <img src="https://source.unsplash.com/800x500/?cat" alt="" class="slide__img">
              <div class="slide__footer">
                <h4 class="slide__title">dsfklsfjlwekjflkjew lewkjrklew jrlkewjr lkjewlkrjewrwer</h4>
                <p class="slide__text">er;lwekr;l ew;lkr;lwek r;lk;wlekr;l wer;lkwe;lr</p>
              </div>
            </a>
          </swiper-slide>
          <swiper-slide>
            <a href="#" class="slide">
              <img src="https://source.unsplash.com/800x500/?plant" alt="" class="slide__img">
              <div class="slide__footer">
                <h4 class="slide__title">Lorem Ipsum</h4>
                <p class="slide__text">lorem</p>
              </div>
            </a>
          </swiper-slide>
          <swiper-slide>
            <a href="#" class="slide">
              <img src="https://source.unsplash.com/800x500/?forest" alt="" class="slide__img">
              <div class="slide__footer">
                <h4 class="slide__title">Lorem Ipsum</h4>
                <p class="slide__text">lorem</p>
              </div>
            </a>
          </swiper-slide>
          <swiper-slide>
            <a href="#" class="slide">
              <img src="https://source.unsplash.com/800x500/?girl" alt="" class="slide__img">
              <div class="slide__footer">
                <h4 class="slide__title">Lorem Ipsum</h4>
                <p class="slide__text">lorem</p>
              </div>
            </a>
          </swiper-slide>
          <swiper-slide>
            <a href="#" class="slide">
              <img src="https://source.unsplash.com/800x500/?brand" alt="" class="slide__img">
              <div class="slide__footer">
                <h4 class="slide__title">Lorem Ipsum</h4>
                <p class="slide__text">lorem</p>
              </div>
            </a>
          </swiper-slide>
          <swiper-slide>
            <a href="#" class="slide">
              <img src="https://source.unsplash.com/800x500/?avocado" alt="" class="slide__img">
              <div class="slide__footer">
                <h4 class="slide__title">Lorem Ipsum</h4>
                <p class="slide__text">lorem</p>
              </div>
            </a>
          </swiper-slide>
          <swiper-slide>
            <a href="#" class="slide">
              <img src="https://source.unsplash.com/800x500/?food" alt="" class="slide__img">
              <div class="slide__footer">
                <h4 class="slide__title">Lorem Ipsum</h4>
                <p class="slide__text">lorem</p>
              </div>
            </a>
          </swiper-slide>
        </swiper>
        <div class="swiper-pagination slider-pagination" slot="pagination"></div>
        <div class="slider-button-next" slot="button-next"></div>
        <div class="slider-button-prev" slot="button-prev"></div>
      </div>
    </div>
    <div class="news">
      <div class="news__inner">
        <h2 class="subtitle">Новости</h2>
        <div class="news__card">
          <div class="news__preview">
            <img src="https://source.unsplash.com/600x500/?car" alt="" class="news-preview__img">
            <p class="news-preview__main-text">Топ-5 машин из США,</p>
            <p class="news-preview__sub-text">на которых можно заработать при перепродаже</p>
            <div class="news-preview__statistic">
              <span class="news-stat">
                <span class="news-stat__icon">
                  <font-awesome-icon :icon="['far', 'eye']"></font-awesome-icon>
                </span>
                <span class="news-stat__number">3200</span>
              </span>
              <span class="news-stat">
                <span class="news-stat__icon">
                  <font-awesome-icon :icon="['fas', 'comment-alt']"></font-awesome-icon>
                </span>
                <span class="news-stat__number">3200</span>
              </span>
            </div>
          </div>
          <div class="news__detail">
            <p class="news-detail__date">Опубликовано: 19 апреля 2018</p>
            <p class="news-detail__paragraph">Американское направление по пригону автомобилей продолжает набирать
              обороты: из-за океана в Беларусь прибывают
              слегка битые машины, которые здесь восстанавливаются, после чего остаются у владельцев или перепродаются
              на
              рынке.
              <br>
              <br> До 1 июля еще осталось какое-то время, чтобы привезти подержанный автомобиль из США. Но и после
              данной даты
              это можно будет сделать, разве что немного сложнее</p>
            <div class="news-detail__buttons">
              <a href="" class="btn__small btn__small--main">Дальше</a>
              <a href="" class="btn__small btn__small--black">Все</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="about">
      <h2 class="subtitle subtitle--white">О компании</h2>
      <p class="about__text">A Better Bid® - это автомобильный онлайн-аукцион предлагающий для покупки более 100,000+
        автомобилей в день. Здесь
        Вы можете найти и выиграть подержанные и аварийные автомобили, пикапы, электромобили, авто класса люкс,
        внедорожники,
        квадроциклы, мотоциклы и лодки...</p>
      <div class="about__arrow"></div>
    </div>
    <div class="reviews">
      <svg width="0" height="0">
        <linearGradient id="user-grad" x1="50%" y1="100%" x2="50%" y2="0%">
          <stop offset="0%" style="stop-color:rgb(255,255,255);stop-opacity:0" />
          <stop offset="100%" style="stop-color:rgb(139,139,139);stop-opacity:1" />
        </linearGradient>
      </svg>
      <h2 class="subtitle">Отзывы</h2>
      <div class="reviews__inner">
        <div class="review__card">
          <div class="review-card__avatar">
            <font-awesome-icon :icon="['fas', 'user-alt']"></font-awesome-icon>
          </div>
          <span class="review-card__user">Наталья</span>
          <span class="review-card__date">12.07.2018</span>
          <p class="review-card__text">Сначала я был немного скептически настроен, но после выяснения того, как
            работает аукцион, я решил все попробовать
            и сделал несколько ставок на понравивишийся... автомобиль. Девушка из службы поддержки была дружелюбна...и
            ответила
            на все интересующие меня вопросы. Я так же заказал у них услугу по отправке автомобиля и он был доставлен
            на
            два дня раньше чем ожидалось!</p>
        </div>
        <div class="review__card">
          <div class="review-card__avatar">
            <font-awesome-icon :icon="['fas', 'user-alt']"></font-awesome-icon>
          </div>
          <span class="review-card__user">Наталья</span>
          <span class="review-card__date">12.07.2018</span>
          <p class="review-card__text">Сначала я был немного скептически настроен, но после выяснения того, как
            работает аукцион, я решил все попробовать
            и сделал несколько ставок на понравивишийся... автомобиль. Девушка из службы поддержки была дружелюбна...и
            ответила
            на все интересующие меня вопросы. Я так же заказал у них услугу по отправке автомобиля и он был доставлен
            на
            два дня раньше чем ожидалось!</p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'Landing',
    data() {
      return {
        swiperOption: {
          slidesPerView: 4,
          spaceBetween: 10,
          pagination: {
            el: '.swiper-pagination'
          },
          navigation: {
            nextEl: '.slider-button-next',
            prevEl: '.slider-button-prev',
          },
          breakpoints: {
            1200: {
              slidesPerView: 3
            },
            850: {
              slidesPerView: 2
            },
            767: {
              slidesPerView: 1,
              pagination: {
                clickable: true
              }
            }
          }
        },
        selected: [],
        checked: ['copart'],
        searchSelects: [{
            name: 'Тип',
            selected: '',
            items: [{
                name: 'Легковая',
                id: 'car'
              },
              {
                name: 'Грузовая',
                id: 'truck'
              }
            ]
          },
          {
            name: 'Марка',
            selected: '',
            items: [{
                name: 'Audi',
                id: 'audi'
              },
              {
                name: 'Mazda',
                id: 'mazda'
              }
            ]
          },
          {
            name: 'Модель',
            selected: '',
            items: [{
                name: '323',
                id: '323'
              },
              {
                name: 'rx-8',
                id: 'rx-8'
              }
            ]
          },
          {
            name: 'Год выпуска',
            selected: '',
            items: [{
                name: '1999',
                id: '1999'
              },
              {
                name: '2018',
                id: '2018'
              }
            ]
          },

        ],
        calcSelects: [{
            name: 'Откуда',
            selected: '',
            items: [{
                name: 'США',
                id: 'us'
              },
              {
                name: 'Канада',
                id: 'ca'
              },
              {
                name: 'Япония',
                id: 'jp'
              },
            ]
          },
          {
            name: 'Куда',
            selected: '',
            items: [{
                name: 'США',
                id: 'us'
              },
              {
                name: 'Канада',
                id: 'ca'
              },
              {
                name: 'Япония',
                id: 'jp'
              },
            ]
          }
        ],
        auctions: [{
            name: 'IAAI',
            id: 'iaai',
          },
          {
            name: 'COPART',
            id: 'copart',
          },
        ],
      }
    },
    components: {}
  }
</script>