<template>
  <header>
    <div class="header__inner">
      <a href="#" class="logo">
        <img src="/img/logo.svg" alt="" class="logo__img">
      </a>
      <div class="header__info">
        <p>Телефоны: +996 502 600 001, +996 700 671 478</p>
        <p>Whatsapp: +995 574 050 777</p>
        <p>Instagram: <a href="https://www.instagram.com/">https://www.instagram.com/</a>
        </p>
      </div>
      <!--
      <div class="input__block">
        <input placeholder="Поиск" type="text" class="input--search">
        <font-awesome-icon :icon="['fas', 'search']" class="input__icon" />
      </div>
      <a href="#" class="btn btn--login">
        <span class="btn__icon"><font-awesome-icon :icon="['far', 'user']"></font-awesome-icon></span>
        Войти</a>
        -->
    </div>
    <nav>
      <ul class="nav__list">
        <li class="nav__item">
          <a href="#" class="nav__link">Поиск</a>
        </li>
        <li class="nav__item">
          <a href="#" class="nav__link nav__link--active">Новости</a>
        </li>
        <li class="nav__item">
          <a href="#" class="nav__link">Отзывы</a>
        </li>
        <li class="nav__item">
          <a href="#" class="nav__link">О нас</a>
        </li>
        <li class="nav__item">
          <a href="#" class="nav__link">Контакты</a>
        </li>
      </ul>
    </nav>
  </header>
</template>

<script>
  export default {
    name: 'TheHeader'
  }
</script>