.btn
  display: inline-flex
  align-items: center
  justify-content: center
  font: $semi-bold 20px $open-sans
  color: #fff
  border-radius: 3px
  height: 40px
  line-height: 40px

.btn--login
  flex-shrink: 0
  background: $color-main
  padding: 0 50px
  transition: transform 0.2s ease, background 0.2s ease
  &:hover
    background: darken($color-main, 10%)
  &:active
    background: darken($color-main, 20%)

.btn--blue
  width: 100%
  flex-shrink: 0
  background: $color-blue-bright
  padding: 0 10px
  transition: transform 0.2s ease, background 0.2s ease
  &:hover
    background: darken($color-blue-bright, 10%)
  &:active
    background: darken($color-blue-bright, 20%)


.btn--auth
  width: 100%
  flex-shrink: 0
  background: $color-main
  padding: 0 20px
  transition: transform 0.2s ease, background 0.2s ease
  &:hover
    background: darken($color-main, 10%)
  &:active
    background: darken($color-main, 20%)

.btn--black
  width: 100%
  height: 55px
  line-height: 55px
  border-radius: 0
  background: #000
  color: #fff
  transition: all 0.2s ease
  &:hover
    background: lighten(#000, 10%)
  &:active
    background: $color-main
    transform: scale(0.95)

.btn--red
  width: 100%
  height: 55px
  line-height: 55px
  border-radius: 0
  background: $color-main
  color: #fff
  transition: all 0.2s ease
  &:hover
    background: lighten($color-main, 10%)
  &:active
    background: $color-main
    transform: scale(0.95)

.btn__icon
  margin-right: 5px


.btn__small
  display: inline-block
  font: $semi-bold 15px $open-sans
  border-radius: 3px
  height: 33px
  line-height: 33px
  text-align: center
  min-width: 133px

.news-detail__buttons .btn__small:first-of-type
  margin-right: 10px

.btn__small--main
  background: $color-main
  color: #fff
  transition: all 0.2s ease
  &:hover
    background: darken($color-main, 10%)
  &:active
    background: darken($color-main, 20%)
    transform: scale(0.97)

.btn__small--black
  background: #000
  color: #fff
  transition: all 0.2s ease  
  &:hover
    background: #3e3e3e
  &:active
    background: darken($color-main, 20%)
    transform: scale(0.97)

@media (max-width: 767px)
  .btn--login
    padding: 0 20px