header

.header__inner
  text-align:right
  display: flex
  align-items: center
  height: 125px
  max-width: 1375px
  padding: 0 100px
  margin: 0 auto

.header__info
  display: flex
  flex-direction: column
  font: $normal 15px $open-sans
  color: #000
  text-align:right
  & a
    color: $color-blue-bright
    text-decoration: underline
  & a:hover
    text-decoration: none
  & a:visited
    color: $color-blue

.logo
  display: flex
  align-items: center
  margin-right: auto
  user-select: none

.logo__img
  height: 120px
  margin-right: 17px

.logo__text
  display: inline-flex
  font: $bold 25px $open-sans
  letter-spacing: 0.06em
  color: #000
  text-transform: uppercase

@media (max-width: 1024px)
  .logo__text
    display: none

  .header__inner
    padding: 0 15px

@media (max-width: 767px)
  .header__inner
    justify-content: space-between
    height: 100px

  .logo
    margin-right: 0

  .logo__img
    height: 90px

  .header__info
    font-size: 13px
    overflow-x: scroll
    white-space: nowrap

@media (max-width: 500px)
  .header__inner
    height: 80px

  .logo__img
    height: 60px